body {
  margin: 5px;
  padding: 5px;
}

img {
  border-radius: 50%;
  height: 30px;
  width: auto;
  margin-right: 5px;
}

.btn {
  margin: inherit;
  padding: auto;
}

ul {
  margin-top: 5px;
  padding-top: 5px;
}
